body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Main layout */
.main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

/* Main task box */
.container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h2, h3 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

/* Task list */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 8px;
    margin-bottom: 8px;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Completed task */
.completed {
    text-decoration: line-through;
    color: gray;
}

/* Dashboard */
.dashboard {
    width: 200px;
    background: pink ;
    padding: 15px;
    border-radius: 8px;
    height: fit-content;
}

.dashboard ul li {
    font-size: 14px;
    background: transparent;
}
